<h2> 

    <%=current_user.username%> tweeted: 
</h2>
<div><%=@tweet.content%></div>
<form action="/tweets" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="delete" value="Delete Tweet">
</form> 
<form action="/tweets/<%=@tweet.id%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <input type="submit" name="edit" value="Edit Tweet">
</form>

<div>Go back to <a href="/tweets">Tweets</a>  </div>