    <h1>Sign Up Here!</h1>
    <form action="/signup" method="post">
        <input type="text" name="username" id="username" placeholder="Username" require><br>
        <input type="text" name="email" id="email" placeholder="Email" require><br>
        <input type="password" name="password" id="password" placeholder="Password" require><br><br>
        <input type="submit" name="signup" value="Signup">
    </form>
